// font-configuratuin list for google-fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,400&family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

// root variable color

:root {
    --default-color: #fafafa;
    --default-color-sys: #000;

    --default-color-sys-opt: #00000030;

    --saturation: 100%;
    --brightness: 63.5%;
    --lightness: 76.5%;
    --brightness-dark: 28.5%;

    --darktheme-color: hsl(255, var(--saturation), var(--brightness-dark));
    --lightheme-color: hsl(255, var(--saturation), var(--brightness));
    --text-href-linked: hsl(225, var(--saturation), var(--lightness));

    --margin-top: 20rem;
}
