@use "../config/tokens" as t;

body {
  background-color: var(--darktheme-color);
  font-family: t.$font-open-sans;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

code {
  padding: 2px 8px;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid var(--default-color-sys-opt);
}
