$default-color: #fafafa;
$default-color-sys: #000000;
$default-color-sys-opt: #00000030;

$saturation: 100%;
$brightness: 63.5%;
$lightness: 76.5%;
$brightness-dark: 28.5%;
$theme-hue: 255;
$link-hue: 225;

$nav-height: 4.8rem;
$margin-top: 20rem;

$gradient-a: #8e85f9;
$gradient-b: #2460bf;
$gradient-b2: #2053a6;
$gradient-c: #4729c0;

$font-open-sans: "Open Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-poppins: "Poppins", sans-serif;

$container-pad: 4.9rem;
$container-pad-md: 2.5rem;
$container-pad-sm: 2rem;
