<section>
  <div class="heading-page">
    <div class="container-heading-page">
      <h2>Landing Page</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugiat modi fugit neque pariatur et ab sequi
        in a doloribus sint, officiis tenetur excepturi odio vero explicabo cumque at dolore.
      </p>
      <div id="button-heading-page">
        <ul>
          <li><a href="/forum"><span class="fa-solid fa-message"></span> Let's Chat</a></li>
          <li><a href="/auth/signup"><span class="fa-solid fa-right-to-bracket"></span> Create Account</a></li>
        </ul>
      </div>
      <div id="icon-heading-page">
        <ul>
          <li><a href="" class="fa-brands fa-telegram"></a></li>
          <li><a href="" class="fa-brands fa-discord"></a></li>
          <li><a href="" class="fa-brands fa-github"></a></li>
        </ul>
      </div>
    </div>
    <div class="layout-flex-between">
      <div class="container-box-page-slide"><div></div></div>
      <div class="container-box-page"></div>
    </div>
  </div>
</section>

<section>
  <div class="about-page">
    <div class="container-about-page trigg-obs" id="about">
      <div class="layout-about-content">
        <h2>What This is Website About ?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugiat modi fugit neque pariatur et ab
          sequi in a doloribus sint, officiis tenetur excepturi odio vero explicabo cumque at dolore.
        </p>
      </div>
      <img src="/assets/img/Allura - Walking Around.png" alt="Illustration" />
    </div>
  </div>
</section>

<section>
  <div class="service-page">
    <div class="container-service-page" id="service">
      <img src="/assets/img/Allura - Socializing.png" alt="Illustration" />
      <div class="layout-service-content trigg-obs">
        <h2>Service an Website</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugiat modi fugit neque pariatur et ab
          sequi in a doloribus sint, officiis tenetur excepturi odio vero explicabo cumque at dolore.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="download-page">
    <div class="container-download-page" id="download">
      <div class="layout-download-page trigg-obs">
        <h2>Download Application</h2>
        <p>Choose your operation system support's</p>
        <ul>
          <li><a href="" class="fa-brands fa-windows"></a></li>
          <li><a href="" class="fa-brands fa-linux"></a></li>
          <li><a href="" style="margin-bottom: 10px;" class="fa-brands fa-apple"></a></li>
        </ul>
        <div class="layout-button-download">
          <div class="button-windows-format" id="button"><a href="">exe</a></div>
          <div class="button-linux-format" id="button">
            <a href="">deb</a>
            <a href="">rpm</a>
          </div>
          <div class="button-osx-format" id="button"><a href="">dmg</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
