<footer>
  <div class="footer">
    <div class="container-footer">
      <div class="layout-footer-menu">
        <ul>
          <h2>Menu</h2>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#service">Service</a></li>
          <li><a href="/forum">Forum</a></li>
        </ul>
        <div class="layout-footer-community">
          <ul>
            <h2>Community</h2>
            <li><a href="">SourceForge</a></li>
            <li><a href="">Telegram</a></li>
            <li><a href="">Discord</a></li>
            <li><a href="">Github</a></li>
          </ul>
        </div>
        <div class="layout-footer-donation">
          <ul>
            <h2>Donation</h2>
            <li><a href="">Saweria</a></li>
            <li><a href="">PayPal</a></li>
            <li><a href="">Dana</a></li>
            <li><a href="">Ko-Fi</a></li>
          </ul>
        </div>
        <div class="layout-footer-about">
          <div class="quick-about">
            <div class="logo">
              <h2>Pro Kodir</h2>
            </div>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut vel ipsam consectetur itaque quibusdam
              expedita modi dolor iure id mollitia? Porro at quod voluptate placeat quas itaque inventore beatae nam!
            </p>
          </div>
        </div>
      </div>
      <div class="footer-end-copyright">
        <div class="logo-copyright">
          <h3>Copyright &copy; {{year}} Pro Kodir, All rights reserved</h3>
        </div>
      </div>
    </div>
  </div>
</footer>
